@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
	--background: oklch(0.12 0.01 250);
	--card: oklch(0.16 0.01 250);
	--primary: oklch(0.7 0.18 160);
	--accent: oklch(0.7 0.18 310);
	--text: oklch(0.9 0.005 90);
	--input: oklch(0.18 0.01 250);
	--border: oklch(0.22 0.015 250);
	--placeholder: oklch(0.75 0.005 90);
	--destructive: oklch(0.65 0.22 25);

	--font-inter: "Inter", sans-serif;
}

body {
	font-family: var(--font-inter);
	background-color: var(--background);
	color: var(--text);
}

@theme inline {
	--color-background: var(--background);
	--color-card: var(--card);
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--color-text: var(--text);
	--color-input: var(--input);
	--color-input-ring: var(--primary);
	--color-input-border: var(--border);
	--color-input-placeholder: var(--placeholder);
	--color-destructive: var(--destructive);
}

.background-effect {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
	opacity: 0.25;
	background:
		url(/noise.png),
		radial-gradient(circle at center, var(--primary) 0%, transparent 60%),
		var(--background);
	background-size:
		150px 150px,
		100% 100%,
		100% 100%;
}
